@import "tailwindcss";

.bg-primary {
  background: linear-gradient(to right, #2563eb, #60a5fa);
}
.active {
  @apply bg-white text-sky-400;
}
[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .ml-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}
